@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* common styles */

body {
  font-family: "Azeret Mono", monospace;
}

main {
  margin: 130px 320px;
}
.section-title {
  text-align: center;
  margin-top: 30px;
}

.section-title h2 {
  font-size: 35px;
  margin: 25px;
}

.section-title p {
  font-size: 17px;
  margin: 30px;
}

/* nav style */

nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
nav h1 {
  font-size: 28px;
  color: rgb(13, 19, 33);
}
.nav-btn {
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

.nav-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(179, 202, 255, 0.753);
}

.nav-btn a {
  text-decoration: none;
  color: rgb(13, 19, 33);
}

/* banner design */

.banner {
  height: 900px;
  background-image: url(./assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  border: 1px dashed rgba(0, 0, 0, 0.11);
}

.banner-content {
  display: flex;
  margin-top: 130px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content h2 {
  font-size: 55px;
  margin-top: 25px;
}

.banner-content .desc {
  font-size: 17px;
  font-weight: 500;
  margin: 30px;
}

.banner-btn {
  font-size: 18px;
  font-family: "Azeret Mono", monospace;
  padding: 12px 8px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.banner-btn a {
  text-decoration: none;
  padding: 20px;
  color: white;
}

.banner-btn:hover {
  box-shadow: 0px 1px 5px black;
  /* cursor: pointer; */
  transition: 0.3s;
}

/* main section styles */

/* web dev style */
.web-dev {
  height: 1300px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.075);
}

.web-dev-content {
  padding: 50px;
}

.web-dev-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
}
.middle {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.web-dev-desc {
  width: 60%;
}

.web-dev-card img {
  width: 300px;
  height: 300px;
}

.web-dev-card h3 {
  font-size: 25px;
  margin: 30px;
}

.web-dev-card p {
  font-size: 17px;
  margin: 30px;
}

.dev-btn {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.63);
  font-size: 17px;
  border-radius: 5px;

  text-align: center;
  margin: 30px;
}

.dev-btn:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.63);
  cursor: pointer;
  transition: 0.3s;
}

.dev-btn a {
  text-decoration: none;
  color: black;
}

/* my inspiration style */

.my-inspiration {
  margin-top: 100px;
}
.inspiration-video {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin: 90px 0;
}
iframe {
  width: 100%;
  height: 614px;
  border: 1px solid rgba(0, 0, 0, 0.342);
  border-radius: 15px;
}

/* target style */

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-dev-tools-card {
  width: 28%;
  border-radius: 8px;
  height: 450px;
  padding: 45px;
  margin: 20px 0;
}
.web-dev-tools-desc {
  height: 230px;
}

.web-dev-tools-desc h3 {
  font-size: 25px;
  margin: 25px 0;
}

.html-card {
  background-color: rgba(150, 203, 250, 0.788);
}
.css-card {
  background-color: rgba(103, 226, 226, 0.589);
}
.js-card {
  background-color: rgba(127, 255, 212, 0.534);
}

.button-container {
  margin-top: 30px;
}
.target-btn {
  padding: 8px 12px;
  border: none;
  background-color: none;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
}

.target-btn a {
  text-decoration: none;
  color: rgb(13, 19, 33);
}

.target-btn:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.63);
  cursor: pointer;
  transition: 0.3s;
}

/* next target section style  */

.next-target-cards-container{
  margin: 20px 0;
}

.next-target-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
}

.next-target-desc{
  width: 90%;
  padding: 10px 0;
}

.next-target-desc h3{
  font-size: 25px;
  margin: 25px 0;
}

.next-target-desc p{
  font-size: 17px;
  margin: 30px 0;
}

.target-image img{
  width: 70px;
  height: 60px;
  border-radius: 16px
}

/* suppoer styles  */

.support-section {
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0.384) 100%
    ),
    url(./assets/Frame\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  /* height: 620px; */
}
.support {
  padding: 50px;
}
.support h2 {
  font-size: 30px;
  color: white;
}
.support p {
  text-align: center;
  font-size: 12px;
  color: white;
}
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
}
.contact-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.63);
  font-size: 16px;
}
.contact-button a {
  text-decoration: none;
  color: black;
}

/* footer style  */

.footer-content {
  background-color: rgba(220, 224, 224, 0.74);
  height: 80px;
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
}
.social-icons i {
  font-size: 36px;
  padding: 20px;
}

.social-icons a {
  text-decoration: none;
  color: rgb(2, 16, 29);
}

.social-icons a:hover {
  color: rgba(0, 102, 255, 0.863);
}
